.top-nav {
    grid-template-columns: 1fr 2fr;
}

.logo img{
    height: 80px;
}

.nav-header li {
    display: inline-block;
    float: right;
    padding: 10px 15px;
    color: #ffffff;
    cursor: pointer;
}

.nav-header li a{
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
}

.authorize-popup  {
    padding: 22px 20px 20px 21px;
}

.authorize-title {
    font-size: 13px;
    color: #6d6d6d;
    margin: 0 0 18px 0;
    text-align: center;
}

.authorize-content input {
    border: 1px solid #ebebeb;
    background: #fff;
    width: 85%;
    border-radius: 3px;
    font-size: 11px;
    padding: 15px 8px;
    font-weight: 600;
    color: #8a8a8a;
    margin: 0 auto 15px auto;
    display: block;
}

.authorize-actions {
    grid-template-columns: 1fr 1fr;
}

.login-button {
    padding: 15px 10px;
    cursor: pointer;
    background: #f76962;
    border-radius: 2px;
    text-align: center;
    font-size: 10px;
    text-decoration: none;
    color: #fff;
    border: 0;
    font-weight: 600;
    width: 80%;
    margin: 0 auto;
}

.login-facebook {
    background: #4a90a4;
}

.logo-black {
    text-align: center;
}

.popup-content {
    width: 25% !important;
}